In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/User/Desktop/cdac advance modules/pml lecture/class  practice/program_dataset/Housing.csv")

In [3]:
df

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...
541,91500.0,4800,3,2,4,yes,yes,no,no,yes,0,no
542,94000.0,6000,3,2,4,yes,no,no,no,yes,0,no
543,103000.0,6000,3,2,4,yes,yes,no,no,yes,1,no
544,105000.0,6000,3,2,2,yes,yes,no,no,yes,1,no
545,105000.0,6000,3,1,2,yes,no,no,no,yes,1,no

In [5]:
df.isnull().sum() #no null values

price       0
lotsize     0
bedrooms    0
bathrms     0
stories     0
driveway    0
recroom     0
fullbase    0
gashw       0
airco       0
garagepl    0
prefarea    0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   price     546 non-null    float64
 1   lotsize   546 non-null    int64
 2   bedrooms  546 non-null    int64
 3   bathrms   546 non-null    int64
 4   stories   546 non-null    int64
 5   driveway  546 non-null    object
 6   recroom   546 non-null    object
 7   fullbase  546 non-null    object
 8   gashw     546 non-null    object
 9   airco     546 non-null    object
 10  garagepl  546 non-null    int64
 11  prefarea  546 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 51.3+ KB

In [7]:
df_num=df.select_dtypes(exclude=['object']).copy()
df_obj=df.select_dtypes(include=['object']).copy()

In [8]:
df_obj

    driveway recroom fullbase gashw airco prefarea
0        yes      no      yes    no    no       no
1        yes      no       no    no    no       no
2        yes      no       no    no    no       no
3        yes     yes       no    no    no       no
4        yes      no       no    no    no       no
..       ...     ...      ...   ...   ...      ...
541      yes     yes       no    no   yes       no
542      yes      no       no    no   yes       no
543      yes     yes       no    no   yes       no
544      yes     yes       no    no   yes       no
545      yes      no       no    no   yes       no

[546 rows x 6 columns]

In [9]:
df_obj_new=pd.get_dummies(df_obj,drop_first=True)

In [10]:
df_new=pd.concat([df_num,df_obj_new],axis=1)

In [16]:
df_new.head(5)

,price,lotsize,bedrooms,bathrms,stories,garagepl,driveway_yes,recroom_yes,fullbase_yes,gashw_yes,airco_yes,prefarea_yes
0,42000.0,5850,3,1,2,1,1,0,1,0,0,0
1,38500.0,4000,2,1,1,0,1,0,0,0,0,0
2,49500.0,3060,3,1,1,0,1,0,0,0,0,0
3,60500.0,6650,3,1,2,0,1,1,0,0,0,0
4,61000.0,6360,2,1,1,0,1,0,0,0,0,0

In [12]:
'''from sklearn.preprocessing import LabelEncoder

df_obj['driveway']=LabelEncoder().fit_transform(df_obj['driveway'])

df_obj['recroom']=LabelEncoder().fit_transform(df_obj['recroom'])

df_obj['fullbase']=LabelEncoder().fit_transform(df_obj['fullbase'])

df_obj['gashw']=LabelEncoder().fit_transform(df_obj['gashw'])

df_obj['airco']=LabelEncoder().fit_transform(df_obj['airco'])

df_obj['prefarea']=LabelEncoder().fit_transform(df_obj['prefarea'])'''
#label encoding function should be done only on target variable

"from sklearn.preprocessing import LabelEncoder\n\ndf_obj['driveway']=LabelEncoder().fit_transform(df_obj['driveway'])\n\ndf_obj['recroom']=LabelEncoder().fit_transform(df_obj['recroom'])\n\ndf_obj['fullbase']=LabelEncoder().fit_transform(df_obj['fullbase'])\n\ndf_obj['gashw']=LabelEncoder().fit_transform(df_obj['gashw'])\n\ndf_obj['airco']=LabelEncoder().fit_transform(df_obj['airco'])\n\ndf_obj['prefarea']=LabelEncoder().fit_transform(df_obj['prefarea'])"

In [13]:
chemP=pd.read_csv("ChemicalProcess.csv")

In [18]:
chemP

,Yield,BiologicalMaterial01,BiologicalMaterial02,BiologicalMaterial03,BiologicalMaterial04,BiologicalMaterial05,BiologicalMaterial06,BiologicalMaterial07,BiologicalMaterial08,BiologicalMaterial09,...,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41,ManufacturingProcess42,ManufacturingProcess43,ManufacturingProcess44,ManufacturingProcess45
0,38.00,6.25,49.58,56.97,12.74,19.51,43.73,100.0,16.66,11.44,...,0.019,0.5,3,7.2,NaN,NaN,11.6,3.0,1.8,2.4
1,42.44,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.019,2.0,2,7.2,0.1,0.15,11.1,0.9,1.9,2.2
2,42.03,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,0.7,2,7.2,0.0,0.00,12.0,1.0,1.8,2.3
3,41.42,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,1.2,2,7.2,0.0,0.00,10.6,1.1,1.8,2.1
4,42.49,7.47,63.33,72.25,14.02,17.91,54.66,100.0,18.22,12.80,...,0.017,0.2,2,7.3,0.0,0.00,11.0,1.1,1.7,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,39.66,6.71,56.32,66.19,12.35,20.02,50.26,100.0,17.54,12.50,...,NaN,2.3,0,0.0,0.0,0.00,0.0,0.6,0.0,0.0
172,39.68,6.87,56.74,66.61,12.55,20.18,50.80,100.0,17.48,12.41,...,NaN,1.0,0,0.0,0.0,0.00,0.0,0.6,0.0,0.0
173,42.23,7.50,58.41,68.30,13.33,20.81,52.96,100.0,17.23,12.04,...,NaN,1.3,0,0.0,0.0,0.00,0.0,0.6,0.0,0.0
174,38.48,7.53,58.36,69.25,14.35,20.57,51.31,100.0,17.87,12.77,...,NaN,2.3,0,0.0,0.0,0.00,0.0,0.5,0.0,0.0
175,39.49,7.53,58.36,69.25,14.35,20.57,51.31,100.0,17.87,12.77,...,NaN,0.9,0,0.0,0.0,0.00,0.0,0.6,0.0,0.0

In [30]:
chemP.isnull().sum()

Yield                      0
BiologicalMaterial01       0
BiologicalMaterial02       0
BiologicalMaterial03       0
BiologicalMaterial04       0
BiologicalMaterial05       0
BiologicalMaterial06       0
BiologicalMaterial07       0
BiologicalMaterial08       0
BiologicalMaterial09       0
BiologicalMaterial10       0
BiologicalMaterial11       0
BiologicalMaterial12       0
ManufacturingProcess01     1
ManufacturingProcess02     3
ManufacturingProcess03    15
ManufacturingProcess04     1
ManufacturingProcess05     1
ManufacturingProcess06     2
ManufacturingProcess07     1
ManufacturingProcess08     1
ManufacturingProcess09     0
ManufacturingProcess10     9
ManufacturingProcess11    10
ManufacturingProcess12     1
ManufacturingProcess13     0
ManufacturingProcess14     1
ManufacturingProcess15     0
ManufacturingProcess16     0
ManufacturingProcess17     0
ManufacturingProcess18     0
ManufacturingProcess19     0
ManufacturingProcess20     0
ManufacturingProcess21     0
ManufacturingProcess22     1
ManufacturingProcess23     1
ManufacturingProcess24     1
ManufacturingProcess25     5
ManufacturingProcess26     5
ManufacturingProcess27     5
ManufacturingProcess28     5
ManufacturingProcess29     5
ManufacturingProcess30     5
ManufacturingProcess31     5
ManufacturingProcess32     0
ManufacturingProcess33     5
ManufacturingProcess34     5
ManufacturingProcess35     5
ManufacturingProcess36     5
ManufacturingProcess37     0
ManufacturingProcess38     0
ManufacturingProcess39     0
ManufacturingProcess40     1
ManufacturingProcess41     1
ManufacturingProcess42     0
ManufacturingProcess43     0
ManufacturingProcess44     0
ManufacturingProcess45     0
dtype: int64

In [31]:
chemP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 58 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Yield                   176 non-null    float64
 1   BiologicalMaterial01    176 non-null    float64
 2   BiologicalMaterial02    176 non-null    float64
 3   BiologicalMaterial03    176 non-null    float64
 4   BiologicalMaterial04    176 non-null    float64
 5   BiologicalMaterial05    176 non-null    float64
 6   BiologicalMaterial06    176 non-null    float64
 7   BiologicalMaterial07    176 non-null    float64
 8   BiologicalMaterial08    176 non-null    float64
 9   BiologicalMaterial09    176 non-null    float64
 10  BiologicalMaterial10    176 non-null    float64
 11  BiologicalMaterial11    176 non-null    float64
 12  BiologicalMaterial12    176 non-null    float64
 13  ManufacturingProcess01  175 non-null    float64
 14  ManufacturingProcess02  173 non-null    float64
 15  ManufacturingProcess03  161 non-null    float64
 16  ManufacturingProcess04  175 non-null    float64
 17  ManufacturingProcess05  175 non-null    float64
 18  ManufacturingProcess06  174 non-null    float64
 19  ManufacturingProcess07  175 non-null    float64
 20  ManufacturingProcess08  175 non-null    float64
 21  ManufacturingProcess09  176 non-null    float64
 22  ManufacturingProcess10  167 non-null    float64
 23  ManufacturingProcess11  166 non-null    float64
 24  ManufacturingProcess12  175 non-null    float64
 25  ManufacturingProcess13  176 non-null    float64
 26  ManufacturingProcess14  175 non-null    float64
 27  ManufacturingProcess15  176 non-null    int64
 28  ManufacturingProcess16  176 non-null    int64
 29  ManufacturingProcess17  176 non-null    float64
 30  ManufacturingProcess18  176 non-null    int64
 31  ManufacturingProcess19  176 non-null    int64
 32  ManufacturingProcess20  176 non-null    int64
 33  ManufacturingProcess21  176 non-null    float64
 34  ManufacturingProcess22  175 non-null    float64
 35  ManufacturingProcess23  175 non-null    float64
 36  ManufacturingProcess24  175 non-null    float64
 37  ManufacturingProcess25  171 non-null    float64
 38  ManufacturingProcess26  171 non-null    float64
 39  ManufacturingProcess27  171 non-null    float64
 40  ManufacturingProcess28  171 non-null    float64
 41  ManufacturingProcess29  171 non-null    float64
 42  ManufacturingProcess30  171 non-null    float64
 43  ManufacturingProcess31  171 non-null    float64
 44  ManufacturingProcess32  176 non-null    int64
 45  ManufacturingProcess33  171 non-null    float64
 46  ManufacturingProcess34  171 non-null    float64
 47  ManufacturingProcess35  171 non-null    float64
 48  ManufacturingProcess36  171 non-null    float64
 49  ManufacturingProcess37  176 non-null    float64
 50  ManufacturingProcess38  176 non-null    int64
 51  ManufacturingProcess39  176 non-null    float64
 52  ManufacturingProcess40  175 non-null    float64
 53  ManufacturingProcess41  175 non-null    float64
 54  ManufacturingProcess42  176 non-null    float64
 55  ManufacturingProcess43  176 non-null    float64
 56  ManufacturingProcess44  176 non-null    float64
 57  ManufacturingProcess45  176 non-null    float64
dtypes: float64(51), int64(7)
memory usage: 79.9 KB

In [32]:
chemP.fillna(chemP.median(),inplace=True)

In [35]:
chemP.isnull().sum()

Yield                     0
BiologicalMaterial01      0
BiologicalMaterial02      0
BiologicalMaterial03      0
BiologicalMaterial04      0
BiologicalMaterial05      0
BiologicalMaterial06      0
BiologicalMaterial07      0
BiologicalMaterial08      0
BiologicalMaterial09      0
BiologicalMaterial10      0
BiologicalMaterial11      0
BiologicalMaterial12      0
ManufacturingProcess01    0
ManufacturingProcess02    0
ManufacturingProcess03    0
ManufacturingProcess04    0
ManufacturingProcess05    0
ManufacturingProcess06    0
ManufacturingProcess07    0
ManufacturingProcess08    0
ManufacturingProcess09    0
ManufacturingProcess10    0
ManufacturingProcess11    0
ManufacturingProcess12    0
ManufacturingProcess13    0
ManufacturingProcess14    0
ManufacturingProcess15    0
ManufacturingProcess16    0
ManufacturingProcess17    0
ManufacturingProcess18    0
ManufacturingProcess19    0
ManufacturingProcess20    0
ManufacturingProcess21    0
ManufacturingProcess22    0
ManufacturingProcess23    0
ManufacturingProcess24    0
ManufacturingProcess25    0
ManufacturingProcess26    0
ManufacturingProcess27    0
ManufacturingProcess28    0
ManufacturingProcess29    0
ManufacturingProcess30    0
ManufacturingProcess31    0
ManufacturingProcess32    0
ManufacturingProcess33    0
ManufacturingProcess34    0
ManufacturingProcess35    0
ManufacturingProcess36    0
ManufacturingProcess37    0
ManufacturingProcess38    0
ManufacturingProcess39    0
ManufacturingProcess40    0
ManufacturingProcess41    0
ManufacturingProcess42    0
ManufacturingProcess43    0
ManufacturingProcess44    0
ManufacturingProcess45    0
dtype: int64

In [36]:
concrete=pd.read_csv("Concrete_data.csv")

In [37]:
concrete

,Cement,Blast,Fly,Water,Superplasticizer,Coarse,Fine,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [39]:
concrete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Cement            1030 non-null   float64
 1   Blast             1030 non-null   float64
 2   Fly               1030 non-null   float64
 3   Water             1030 non-null   float64
 4   Superplasticizer  1030 non-null   float64
 5   Coarse            1030 non-null   float64
 6   Fine              1030 non-null   float64
 7   Age               1030 non-null   int64
 8   Strength          1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [ ]:
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()
minmax.fit(concrete)
minmaxconcrete = minmax.transform(concrete)
minmaxconcrete[0:9,]

# OR
#minmaxMilk = minmax.fit_transform(milk)
# Converting numpy array to pandas
concrete = pd.DataFrame(minmaxconcrete,columns=concrete.columns,
                       index=concrete.index)